.places_place_page{
  margin-top: 92px;
}

@media (max-width: 1023px) {
  .places_place_page{
    margin-top: 88px;
  }
}
@media (max-width: 767px) {
  .places_place_page{
    margin-top: 64px;
  }
}
