.logo{
  width: 176px;
  height: 52px;
  background-image: url(../../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 767px) {
  .logo{
    width: 142px;
    height: 42px;
  }
}
