.intro__text{
  width: 690px;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  margin: 40px 0 0 0;
}

@media (max-width: 1279px) {
  .intro__text{
    width: 690px;
  }
}

@media (max-width: 1023px) {
  .intro__text{
    width: 100%;
  }
}
